:root {
    --tiny-font-size: 10px;
  }
  
  .about__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 6rem;
  }
  
  .about__img {
    width: 350px;
    border-radius: 2.5rem;
    justify-self: center;
  }
  
  .about_info {
    display: grid;
    grid-template-columns: repeat(3, 140px);
    gap: 1rem;
    margin-bottom: var(--mb-2);
  }
  
  .about_box {
    background-color: var(--container-color);
    border: 1.5px solid rgba(0, 0, 0, 0.1);
    border-radius: 1.5rem;
    text-align: center;
    padding: 1rem 1.25rem;
  }
  
  .about__icon {
    font-size: 1rem;
    color: var(--title-color);
    margin-bottom: var(--mb-0-5);
  }
  
  .about__title {
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
  }
  
  .about__subtitle {
    font-size: var(--tiny-font-size);
  }
  
  .about__description {
    padding: 0 4rem 1 0;
    margin: 5px;
    margin-bottom: var(--mb-2-5);
  }
  
  .section__title {
    font-size: 2em;
    font-weight: bold;
    color: #333;
  }
  
  @media screen and (max-width: 992px) {
    .about__container {
      grid-template-columns: 1fr;
      row-gap: 2.5rem;
      margin: 0;
    }
  
    .about__img {
      width: 250px;
    }
  
    .about__box {
      padding: 0.5rem 0.4rem;
    }
  
    .about__info {
      justify-content: center;
    }
  
    .about__description {
      padding: 0 4rem;
      margin-left: 1rem;
    }
  
    .about__data {
      align-items: center;
    }
  }
  
  .button_fle {
    position: absolute;
  }
  